[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
	branch = master
[submodule "lib/cJSON"]
	path = lib/cJSON
	url = git@github.com:DaveGamble/cJSON.git
[submodule "lib/BNO08x_Pico_Library"]
	path = lib/BNO08x_Pico_Library
	url = https://github.com/robotcopper/BNO08x_Pico_Library.git
