[Unit]
Description=EIGSEP Pico Manager
After=redis-server.service
Requires=redis-server.service

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=%h/venv/bin/pico-manager --uf2 %h/eigsep/pico-firmware/build/pico_multi.uf2
Restart=always
RestartSec=5
TimeoutStartSec=120

User=eigsep
Group=eigsep
WorkingDirectory=%h/eigsep/pico-firmware
SyslogIdentifier=eigsep-pico

[Install]
WantedBy=multi-user.target
